<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    {{> titulo }}
    <div class="ProductosIndex">
        {{#if juegos.length}}
        {{#each juegos}}
        <div class="productos">
            <img src="{{imagen}}" alt="" class="img1">
            <h2>{{nombre}}</h2>
            <h3>{{precio}}$</h3>

        <div class="d-grid gap-3 mt-2">
            <a href="/{{id}}" class="btn btn-info btn-sm">Ver detalles</a>
            <a href="/{{id}}/editar" class="btn btn-info btn-sm">Editar</a>
            <form action="/{{id}}/borrar" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
            </form>
        </div>
        </div>
        {{/each}}

        <!-- comprueba si hay juegos, de no haberlos mostrará el mensaje de abajo -->
        
        {{else}}
            <div class="alert alert-dark text-center m-5 p-5">
                <h4>Actualmente no tienes juegos</h4>
                <br>
                <p>Puedes agregar uno desde la opción "Nuevo juego"</p>
            </div>
        {{/if}}
    </div>
  
</body>
</html>